* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  
  .menu-container {
    color: #e0def4;
    background-color: #1f1d2e;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
 }
  
  .menu {
    /* border: 1px solid #fff;  For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

.links {
    /* border: 1px solid #fff; For debugging */
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #e0def4;
    background-color: #383554;
    display: flex;

    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}

.social,
.subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
}

 .photo-grid-item {
    width: 300px;
    height: 300px;
} 

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #e0def4;
    background-color: #383838;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #21202d;
    flex: initial;
    width: 300px;
}

.signup {
    margin-left: auto;
}